 .skills-section{
    background-color: black;
    color: white;
  padding: 40px 0px;
 }
 .skills-title{
    text-transform: uppercase;
    border-bottom: solid 1px white;
    margin: auto;
    width: 80px;
    padding: 10px 0px;
letter-spacing: 2px;
 }
.skill-card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-inline-start: 20px;
    gap: 10px;
    flex-wrap: wrap;
   
 }
 .skill-card .category-title{
     color: #38bdf8;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 12px 0;
  padding: 20px 0px;
   text-shadow: 0px 1px 0px rgb(0, 0, 0),
    0 2px 0 rgb(0, 0, 0),
    0 3px 0 rgb(0, 0, 0),
    0 4px 0 rgb(0, 0, 0),
    0 5px 0 rgb(0, 0, 0),
    0 6px 0 rgb(0, 0, 0),
   0 6px 0 rgb(0, 0, 0),
   
    1px 15px 10px #38bdf8,
     1px 25px 20px black,
    1px 25px 40px black,
    1px 30px 80px black;
 }
 .skill-card .skill-tags{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
 }
  .skill-tag span{
    color: #38bdf8;
  }